* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: burlywood;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
}
.wrapper {
  position: relative;
  display: inline-block;
  background-color: brown;
}
button {
  margin-top: 20px;
  padding: 10px 60px;
  font-family: "Press Start 2P", cursive;
  color: burlywood;
  background-color: darkblue;
}
.start {
  position: absolute;
  top: 350px;
  left: 420px;
}
.game-lose {
  position: absolute;
  top: 350px;
  left: 280px;
  display: none;
  color: burlywood;
}
.game-win {
  position: absolute;
  top: 350px;
  left: 300px;
  display: none;
  color: burlywood;
}
